/*Sound control*/
#continuarMusica{
  display: none;
}
/* Carousel base class */
.carousel, .banner {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;

  }

  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: auto;
    max-height: 32rem;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.banner {
  margin-top: 4rem;
}

.row-span-2 {
  grid-row-end: span 2;
}

.white-title{
  color: #fff;
}

@media (max-width: 768px) {
  .carousel-item-text {
  
    font-size: 20px;
    color: #000000;
    text-shadow: none;
    text-align: left;
  }
  .carousel-item {
    height: 12rem;
  }

  .carousel-item > img {
    max-height: 12rem;
  }

  .car-info-icon {
    font-size: 1.75rem;
  }

}

.caption-item{
  text-align: center;
  bottom: 20px;
}

.carousel-item-text{
  
  text-shadow: 1px 1px 2px #000000;
}

.brand-logo {
  max-height: 10rem;
  width: 100%;
  object-fit: contain;
}

.car-logo {
  height: 200px;
  object-fit: cover;
}

.card{
  padding: 5px;
  text-decoration: none;
  transition: transform 0.2s;
  z-index: auto;
  max-width: calc(100vw/7);
}

.brand-card{
  height: 20rem;
}

/*Hover*/
.card:hover {
  border: 3px solid rgb(24, 188, 156);
  transform: scale(1.05);
  z-index: 10;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

video {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

/* For screens with a maximum width of 1420 (i.e., medium desktops) */
@media screen and (max-width: 1420px) {
  .card {
    max-width: 30vw; /* Set a specific max-width in pixels or as a percentage of the viewport width, whichever is smaller */
  }
}


/* For screens with a maximum width of 1024px (i.e., tablets and smaller desktops) */
@media screen and (max-width: 1024px) {
  .card {
    max-width: 40vw; /* Set a specific max-width as a percentage of the viewport width */
  }
}

/* For screens with a maximum width of 768px (i.e., tablets and smaller) */
@media screen and (max-width: 768px) {
  .card {
    max-width: 50vw; /* Set a larger max-width for larger screens */
  }
}

/* For screens with a maximum width of 480px (i.e., mobile devices) */
@media screen and (max-width: 480px) {
  .card {
    max-width: 90vw; /* Set a smaller max-width for smaller screens */
  }
}