/*Sound control*/
#continuarMusica{
  display: none;
}

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: auto;
    max-height: 32rem;
    object-fit: cover;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.car-item{
  transition: transform 0.2s;
}

.car-item:hover{
  transform: scale(1.05);
}



/*COLORSSS*/

.text-primary{
  color: #8eb897 !important;
}

.btn-primary{
  --bs-btn-color: #fff;
    --bs-btn-bg: #8eb897;
    --bs-btn-border-color: #8eb897;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5b7553;
    --bs-btn-hover-border-color: #5b7553;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5b7553;
    --bs-btn-active-border-color: #5b7553;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #8eb897;
    --bs-btn-disabled-border-color: #8eb897
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}